.fond {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.fond__contain {
  position: relative;
}

.fond__video {
  position: absolute;
  width: 100%;
  height: auto;
  top: 0px;
  left: 0px;
  display: flex;
  flex-direction: column;
  object-fit: cover;
}
