.header {
  position: absolute;
  margin: 42px auto;
  z-index: 2;
}

.header__contain {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  margin-left: 40px;
  margin-right: 41px;
}

.header__lable {
  display: flex;
  margin-right: 249px;
  align-items: center;
  justify-content: flex-start;
}

.header__lable-text {
  font-family: Core Sans C;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 16px;
  color: #fff;
  white-space: nowrap;
}

.header__contact-link {
  display: flex;
  margin-right: 308px;
  flex-direction: column;
  align-content: flex-start;
}

.header__contact-link a {
  font-family: Core Sans C;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 23px;
  color: #fff;
  white-space: nowrap;
}

.header__contact-text {
  font-family: Core Sans C;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #ffffff;
  opacity: 0.5;
  white-space: nowrap;
}

.header__nav {
  align-items: center;
  margin-right: 127px;
}

.header__nav ul {
  display: flex;
}

.nav__menu {
  margin-right: 20px;
}

.nav__menu a {
  color: #ffffff;
}
