.nav {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 211px;
  left: 414px;
  z-index: 2;
}

.nav__building-one {
  display: flex;
}

.nav__building-two {
  margin-left: 44px;
}

.nav__building-exposition {
  font-family: Core Sans C;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  opacity: 0.6;
  text-decoration-line: underline;
  color: #ffffff;
}

.nav__arrow__right {
  width: 39px;
  height: 39px;
}

.nav__arrow__left {
  width: 39px;
  height: 39px;
}

.nav__arrow {
  opacity: 0.3;
  border: 1px solid #ffffff;
  box-sizing: border-box;
}

.nav__exposition {
  margin-left: 30px;
  width: 490px;
  height: 141px;
}

.nav__exposition__header {
  font-family: Core Sans C;
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  line-height: 47px;
  letter-spacing: -0.02em;
  color: #ffffff;
}
