@font-face {
  font-family: 'Core Sans C';
  src: url("../fonts/CoreSansC-25ExtraLight.woff2") format("woff2"), url("../fonts/CoreSansC-25ExtraLight.woff") format("woff");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Core Sans C 15';
  src: url("CoreSansC-15ThinIt.woff2") format("woff2"), url("CoreSansC-15ThinIt.woff") format("woff");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Core Sans C 15';
  src: url("CoreSansC-15Thin.woff2") format("woff2"), url("CoreSansC-15Thin.woff") format("woff");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Core Sans C 75';
  src: url("CoreSansC-75ExtraBold.woff2") format("woff2"), url("CoreSansC-75ExtraBold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Core Sans C 75';
  src: url("CoreSansC-75ExtraBoldIt.woff2") format("woff2"), url("CoreSansC-75ExtraBoldIt.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Core Sans C 55';
  src: url("CoreSansC-55Medium.woff2") format("woff2"), url("CoreSansC-55Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Core Sans C 35';
  src: url("CoreSansC-35LightIt.woff2") format("woff2"), url("CoreSansC-35LightIt.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Core Sans C 25';
  src: url("CoreSansC-25ExtraLightIt.woff2") format("woff2"), url("CoreSansC-25ExtraLightIt.woff") format("woff");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Core Sans C 85';
  src: url("CoreSansC-85Heavy.woff2") format("woff2"), url("CoreSansC-85Heavy.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Core Sans C 35';
  src: url("CoreSansC-35Light.woff2") format("woff2"), url("CoreSansC-35Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Core Sans C 95';
  src: url("CoreSansC-95Black.woff2") format("woff2"), url("CoreSansC-95Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Core Sans C 85';
  src: url("CoreSansC-85HeavyIt.woff2") format("woff2"), url("CoreSansC-85HeavyIt.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Core Sans C 95';
  src: url("CoreSansC-95BlackIt.woff2") format("woff2"), url("CoreSansC-95BlackIt.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Core Sans C 45';
  src: url("CoreSansC-45RegularIt.woff2") format("woff2"), url("CoreSansC-45RegularIt.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Core Sans C 65';
  src: url("CoreSansC-65BoldIt.woff2") format("woff2"), url("CoreSansC-65BoldIt.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Core Sans C 55';
  src: url("CoreSansC-55MediumIt.woff2") format("woff2"), url("CoreSansC-55MediumIt.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Core Sans C 65';
  src: url("CoreSansC-65Bold.woff2") format("woff2"), url("CoreSansC-65Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Core Sans C';
  src: url("../fonts/CoreSansC-45Regular.woff2") format("woff2"), url("../fonts/CoreSansC-45Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

.banner {
  height: 100vh;
  position: relative;
  z-index: 0;
}

.banner__video {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  -o-object-fit: cover;
     object-fit: cover;
}

.content {
  width: 100%;
}

.content__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.content__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  max-width: 1192px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.content__links-wrapper {
  width: 100%;
  max-width: 320px;
  min-height: 455px;
  overflow: hidden;
}

.content__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 23px;
}

.content__links-item {
  font-family: 'Core Sans C';
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: #FFFFFF;
  opacity: 0.6;
  cursor: pointer;
  margin-bottom: 13px;
}

.content__links-item:last-child {
  margin-bottom: 0;
}

.content__links-item:hover {
  opacity: 1;
}

.content__card {
  position: relative;
  bottom: 0;
  -webkit-transition: bottom .7s ease 0s;
  transition: bottom .7s ease 0s;
}

.content__card.hide {
  bottom: -400px;
}

.content__card-img {
  margin-bottom: 17px;
  max-width: 372px;
  max-height: 231px;
  border-radius: 8px;
  overflow: hidden;
}

.content__card-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.content__card-title {
  margin-bottom: 9px;
}

.content__description {
  width: 100%;
  max-width: 581px;
}

.content__description-title {
  font-family: 'Core Sans C';
  font-weight: normal;
  font-size: 40px;
  line-height: 47px;
  letter-spacing: -0.02em;
  color: #ffffff;
}

.nav__building-two {
  margin-left: 44px;
}

.nav__arrow__right {
  width: 39px;
  height: 39px;
}

.nav__arrow__left {
  width: 39px;
  height: 39px;
}

.nav__arrow {
  opacity: 0.3;
  border: 1px solid #ffffff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.nav__exposition {
  margin-left: 30px;
  width: 490px;
  height: 141px;
}

.nav__exposition__header {
  font-family: Core Sans C;
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  line-height: 47px;
  letter-spacing: -0.02em;
  color: #ffffff;
}

.header {
  padding: 40px 0;
}

.header__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__logo {
  display: inline-block;
}

.header__logo img {
  width: 100%;
}

.header__contant {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  max-width: 1192px;
}

.header__contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  width: 100%;
  max-width: 320px;
}

.header__contacts a {
  font-family: 'Core Sans C';
  font-weight: normal;
  font-size: 20px;
  line-height: 23px;
  color: #fff;
  margin-bottom: 6px;
}

.header__contacts span {
  font-family: 'Core Sans C';
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #ffffff;
  opacity: 0.5;
}

.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 38px;
}

.header__nav-item {
  margin-right: 20px;
}

.header__nav-item:last-child {
  margin-right: 0;
}

.header__nav-item a {
  font-family: 'Core Sans C';
  font-weight: normal;
  font-size: 16px;
  line-height: 16px;
  color: #ffffff;
}

.header__nav-btn {
  background: none;
  border: none;
  cursor: pointer;
}

.footer {
  width: 100%;
}

.footer__container {
  max-width: 1680px;
  width: 100%;
  padding: 0 40px;
}

.footer__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.footer__room {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: start;
      align-content: flex-start;
}

.footer__room-title {
  font-family: "Core Sans C";
  font-weight: 400;
  font-size: 13px;
  font-style: normal;
  line-height: 77px;
  color: #fff;
}

.footer ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 314px;
  height: 56px;
  border-radius: 7px;
  background: rgba(133, 125, 125, 0.39);
}

.footer__rooms-numb {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 56px;
  height: 56px;
  color: #fff;
}

.footer__space {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: start;
      align-content: flex-start;
}

.footer__space-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 270px;
  height: 56px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background-color: rgba(133, 125, 125, 0.39);
}

.footer__space-form input {
  display: none;
}

.footer__price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: start;
      align-content: flex-start;
}

.footer__rooms-price {
  width: 270px;
  height: 56px;
}

.footer input {
  display: none;
}

.footer__contents {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: start;
      align-content: flex-start;
}

.footer__room-selection {
  width: 270px;
  height: 56px;
  background: rgba(133, 125, 125, 0.39);
  border-radius: 7px;
}

.footer__filters {
  width: 127px;
  height: 56px;
  opacity: 0.3;
  border: 1px solid #ffffff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 7px;
}

.footer__buttom {
  width: 224px;
  height: 56px;
  border-radius: 7px;
  background-color: #d90002;
}

.footer__buttom button {
  display: none;
}

.footer__buttom-text {
  font-family: "Core Sans C";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 16px;
  color: #ffffff;
}

body {
  font-family: 'Core Sans C';
}

.container {
  max-width: 1680px;
  width: 100%;
  padding: 0 40px;
}

.text-white {
  font-family: 'Core Sans C';
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
}

.text-opacity {
  opacity: 0.5;
}
/*# sourceMappingURL=style.css.map */