.footer {
  width: 100%;

  &__container {
    max-width: 1680px;
    width: 100%;
    padding: 0 40px;
    border-top: 1px solid rgba(255, 255, 255, 0.15);
  }

  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }

  &__room {
    display: flex;
    flex-direction: column;
    align-content: flex-start;
  }

  &__room-title {
    font-family: "Core Sans C";
    font-weight: 400;
    font-size: 13px;
    font-style: normal;
    line-height: 77px;
    color: #fff;
  }

  ul {
    display: flex;
    justify-content: space-around;
    width: 314px;
    height: 56px;
    border-radius: 7px;
    background: rgba(133, 125, 125, 0.39);

    // :first-child {
    //   width: 90px;
    //   border-radius: 7%;
    //   color: black;
    //   background-color: #fff;
    // }
  }

  &__rooms-numb {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 56px;
    height: 56px;
    color: #fff;
  }

  &__space {
    display: flex;
    flex-direction: column;
    align-content: flex-start;
  }

  &__space-form {
    display: flex;
    width: 270px;
    height: 56px;
    align-items: center;
    justify-content: space-around;
    background-color: rgba(133, 125, 125, 0.39);

    input {
      display: none;
    }
  }

  &__price {
    display: flex;
    flex-direction: column;
    align-content: flex-start;
  }

  &__rooms-price {
    width: 270px;
    height: 56px;
  }

  input {
    display: none;
  }

  &__contents {
    // display: flex;
    // flex-direction: column;
    // align-content: flex-start;
  }

  &__room-btn {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 270px;
    height: 56px;
    border: none;
    border-radius: 7px;
    background: rgba(255, 255, 255, 0.16);
    cursor: pointer;

    &__text {
      font-family: "Core Sans C";
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 16px;
      color: #ffffff;
    }
  }

  &__room-selection {
    width: 270px;
    height: 56px;
    background: rgba(133, 125, 125, 0.39);
    border-radius: 7px;
  }

  &__filters-btn {
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    width: 127px;
    height: 56px;
    // opacity: 0.3;
    border-radius: 7px;
    background: none;
    border: 1px solid #ffffff;
    cursor: pointer;
  }

  &__filters-btn__text {
    font-family: "Core Sans C";
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 130.3%;
    color: #ffffff;
  }

  &__buttom-text {
    width: 224px;
    height: 56px;
    border: none;
    border-radius: 7px;
    font-family: "Core Sans C";
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    color: #ffffff;
    background-color: #d90002;
    cursor: pointer;
  }
}
