body {
    font-family: 'Core Sans C';
  }
  
  .container {
    max-width: 1680px;
    width: 100%;
    padding: 0 40px;
  }
  
  .text-white {
    font-family: 'Core Sans C';
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
  }
  
  .text-opacity {
    opacity: 0.5;
  }